---
layout: default
---

<section id="home-hero">
	<div class="container">
		<div class="title">
			<h1>REJALI LAW FIRM</h1>
		</div>
	</div>
</section>



	<section id="page-message">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 text-center">
					<h2>"in the end we must remember that no amount of rules and their enforcement will defeat those who struggle with justice on their side."</h2>
					<p class="lead"> -Nelson Mandela</p>
				</div>
			</div>
		</div>
	</section>

	<section id="city">
		<div class="container">
			<div class="row">
				{% for post in site.categories['index'] %}
					<div class=" col-sm-4 col-xs-12">
						<div class="statements">
							<h3>{{ post.title }}</h3>
							<p>{{ post.content }}</p>
						</div>
					</div>
				{% endfor %}
			</div>
			<!-- <div class="row text-center">
				<div class="col-sm-4 col-xs-12 item">
					<a href="{{relative}}/practices.html"><img class="img-thumbnail" src="https://api.fnkr.net/testimg/325x250/333333/FFF/?text=CRIMINAL LAW"></a>
				</div>
				<div class="col-sm-4 col-xs-12 item">
					<a href="{{relative}}/practices.html"><img class="img-thumbnail" src="https://api.fnkr.net/testimg/325x250/333333/FFF/?text=IMMIGRATION"></a>
				</div>
				<div class="col-sm-4 col-xs-12 item">
					<a href="{{relative}}/practices.html"><img class="img-thumbnail" src="https://api.fnkr.net/testimg/325x250/333333/FFF/?text=INTERNATIONAL"></a>
				</div>
			</div> -->
		</div>
	</section>

	<!-- <div class="container">
		<div id="mission-statement">
			<div class="row">
				{% for post in site.categories['index'] %}
				<div class="col-sm-4">
					<div class="row">
					<div class="col-xs-12">
							<h3>{{ post.title }}</h3>
							<p class="lead">Our Mission Is Simple:</p>
							<p>{{ post.content }}</p>
						</div>
					</div>
				</div>
				{% endfor %}

			</div>
		</div>
	</div> -->

	<section id="location">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 text-center">
					<h1>LOCATION</h1>
					<br>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-6">
					<h2>CONTACT</h2>
					<hr>
					<ul>
						<li><h4>Daytime Phone: (619)209-6136</h4></li>
						<li><h4>Weekend & Evening Phone: (619)887-4148</h4></li>
						<li><h4>Fax Number: (619)274-8222</h4></li>
						<li><h4><a href="mailto:info@rejalilawfirm.com">Email: info@rejalilawfirm.com</a></h4></li>
					</ul>
					<br>
					<h2>ADDRESS</h2>
					<hr>
					<h4>8880 Rio San Diego Dr, Suite 800, San Diego, CA, 92108</h4>
				</div>
				<div class="col-sm-6">
					<a href="https://www.google.com/maps/preview?q=8880+Rio+San+Diego+Dr,+Suite+800,+San+Diego,+CA,+92108&ie=UTF-8&hq=&hnear=0x80d95511fb073755:0x5495e05c59fafddd,8880+Rio+San+Diego+Dr+%23800,+San+Diego,+CA+92108&gl=us&ei=ixudU4WZBYyoyASsw4GoBw&ved=0CB4Q8gEwAA" target="_blank"><img class="img-thumbnail" src="{{site.url}}/assets/images/indexmap.png"></a>
				</div>
			</div>
		</div>
	</section>

	<section id="social">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 text-center">
					<h1>SOCIAL</h1>
				</div>
			</div>
			<br>
			{% include social.html %}
		</div>
	</section>

