---
layout: default
---

<section id="home-hero">
	<div class="container">
		<div class="title">
			<h1>WELCOME TO THE REJALI LAW FIRM</h1>
		</div>
		<div class="row">
			<div class="col-sm-4 col-sm-offset-8">
				<div class="block text-center">
				<img class="img-thumbnail" src="{{ relative}}/assets/img/logo.png">
					<ul class="content">
						<li>CALL OR CHAT FOR A FREE CONSULTATION</li>
						<li class="numba">TOLL FREE 844.4REJALI</li>
					</ul>
					
				</div>
			</div>
		</div>
	</div>
</section>
<div id="contact-1">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 col-xs-12 text-center">
				<h2>844.4REJALI / <a href="mailto:info@rejalilawfirm.com">info@rejalilawfirm.com</a></h2>
			</div>
		</div>
	</div>
</div>

<section id="sdlaw">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 text-center">
				<h2>SAN DIEGO LAW FIRM</h2>
				<h5>EFFECTIVE LAW PRACTICES FOR YOU</h5>
			</div>
			<div class="col-xs-12 text-center">
				<p class="text-left">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
				</p>
				<a href="#" class="btn btn-default btn-warning text-center">Come See Us <span class="glyphicon glyphicon-chevron-right"></span></a>
			</div>
		</div>
	</div>
</section>
<section id="page-message">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 text-center thread">
				<h2>"in the end we must remember that no amount of rules and their enforcement will defeat those who struggle with justice on their side."</h2>
				<p class="lead"> -Nelson Mandela</p>
			</div>
		</div>
	</div>
</section>
<section id="associations">
		<div class="container">
			<div class="row">	
				<div class="col-xs-12 text-center">
					<h2>ASSOCIATIONS</h2>
					<br>
				</div>
			</div>
			<div id="owl-example" class="owl-carousel">
			  <div><img class="img-responsive" src="{{ relative }}assets/img/a1.jpg"></div>
			  <div><img class="img-responsive" src="{{ relative }}assets/img/a2.jpg"></div>
			  <div><img class="img-responsive" src="{{ relative }}assets/img/a3.jpg"></div>
			  <div><img class="img-responsive" src="{{ relative }}assets/img/a4.jpg"></div>
			  <div><img class="img-responsive" src="{{ relative }}assets/img/a5.jpg"></div>
			</div>
		</div>
	</section>

	
<section id="city">
	<div class="container">
		<div class="row">
			{% for post in site.categories['index'] %}
			<div class=" col-sm-4 col-xs-12">
				<div class="statements">
					<h3>{{ post.title }}</h3>
					<p>{{ post.content }}</p>
				</div>
			</div>
			{% endfor %}
		</div>
		</div>
	</section>



	


	

	<section id="location">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 text-center">
					<h2>LOCATION</h2>
					<br>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-6">
					<h3>CONTACT</h3>
					<hr>
					<ul>
						<li><h4>Phone: TOLL FREE 844.4REJALI</h4></li>
						<!-- <li><h4>Weekend & Evening Phone: (619)887-4148</h4></li> -->
						<li><h4>Fax Number: (619)274-8222</h4></li>
						<li><h4><a href="mailto:info@rejalilawfirm.com">Email: info@rejalilawfirm.com</a></h4></li>
					</ul>
					<br>
					<h3>ADDRESS</h3>
					<hr>
					<h4>8880 Rio San Diego Dr, Suite 800, San Diego, CA, 92108</h4>
				</div>
				<div class="col-sm-6">
					<a href="https://www.google.com/maps/preview?q=8880+Rio+San+Diego+Dr,+Suite+800,+San+Diego,+CA,+92108&ie=UTF-8&hq=&hnear=0x80d95511fb073755:0x5495e05c59fafddd,8880+Rio+San+Diego+Dr+%23800,+San+Diego,+CA+92108&gl=us&ei=ixudU4WZBYyoyASsw4GoBw&ved=0CB4Q8gEwAA" target="_blank"><img class="img-thumbnail" src="{{site.url}}/assets/images/indexmap.png"></a>
				</div>
			</div>
		</div>
	</section>



	<section id="social">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 text-center">
					<h2>SOCIAL</h2>
				</div>
			</div>
			<br>
			{% include social.html %}
		</div>
	</section>

	<!-- <div id="lang">
	<div id="sidebar">

		<div id="sidebar-content">
			<div id="google_translate_element"></div><script type="text/javascript">
			function googleTranslateElementInit() {
				new google.translate.TranslateElement({pageLanguage: 'en', includedLanguages: 'fa', layout: google.translate.TranslateElement.InlineLayout.SIMPLE, gaTrack: true, gaId: 'UA-52061428-1'}, 'google_translate_element');
			}
		</script><script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
	</div>
	<a id="toggleSidebar" href="#" class="toggles"><i class="fa fa-language"></i></a>
	</div> -->
</div>


