---
layout: page
title : Team Profiles
group: navigation
weight: 3
---


<section id="team-hero">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<h1 class="text-center">
					Meet The Team
				</h1>
			</div>
		</div>
	</div>
</section>

<section id="team">
	<div class="container">
		<br>
		<div class="row text-center hidden-xs">
			<div class="col-sm-4">
				<a href="jimmy.html"><img class="img-thumbnail" src="{{ relative }}/assets/themes/rejalilaw/img/team/jimmy.jpg" alt="Jimmy Nyguyen"><h4>Jimmy Nguyen</h4><p>Law Clerk</p></a>
				<br>
				<a href="zahra.html"><img class="img-thumbnail" src="{{ relative }}/assets/themes/rejalilaw/img/team/mom.jpg" alt="Nazi Rejali"><h4>Nazi Rejali</h4><p>Paralegal</p></a>
			</div>
			<div class="col-sm-4">
				<a href="omid.html"><img class="img-thumbnail" src="{{ relative }}/assets/themes/rejalilaw/img/team/omid.jpg" alt="Omid Rejali"><h4>Omid Rejali</h4><p>Attorney</p></a>
			</div>
			<div class="col-sm-4">
				<a href="chris.html"><img class="img-thumbnail" src="{{ relative }}/assets/themes/rejalilaw/img/team/chris.jpg" alt="Chris Nepacena"><h4>Chris Nepacena</h4><p>Law Clerk</p></a>
				<br>
				<img class="img-thumbnail" src="{{ relative }}/assets/themes/rejalilaw/img/team/vivek.jpg" alt="Vivek Poola"><h4>Vivek Poola</h4><p>I.T. Support/Development</p>
			</div>
		</div>

		<div class="visible-xs">
			<div class="col-xs-12 text-center">
				<a href="omid.html"><img class="img-thumbnail" src="{{ relative }}/assets/themes/rejalilaw/img/team/mobile/omid.jpg" alt="Omid-xs"><h4>Omid Rejali</h4><p>Attorney</p></a>
			</div>
			<div class="col-xs-12 text-center">
				<a href="chris.html"><img class="img-thumbnail" src="{{ relative }}/assets/themes/rejalilaw/img/team/mobile/chris.jpg" alt="Chris-xs"><h4>Chris Nepacena</h4><p>Law Clerk</p></a>
			</div>
			<div class="col-xs-12 text-center">
				<a href="jimmy.html"><img class="img-thumbnail" src="{{ relative }}/assets/themes/rejalilaw/img/team/mobile/jimmy.jpg" alt="Jimmy-xs"><h4>Jimmy Nguyen</h4><p>Law Clerk</p></a>
			</div>
			<div class="col-xs-12 text-center">
				<a href="jimmy.html"><img class="img-thumbnail" src="{{ relative }}/assets/themes/rejalilaw/img/team/mobile/vivek.jpg" alt="Vivek-xs"><h4>Vivek Poola</h4><p>I.T. Support/Development</p></a>
			</div>
			<div class="col-xs-12 text-center">
				<a href="mom.html"><img class="img-thumbnail" src="{{ relative }}/assets/themes/rejalilaw/img/team/mobile/mom.jpg" alt="Nazi-xs"><h4>Nazi Rejali</h4><p>Paralegal</p></a>
			</div>
		</div>


		</div>
	
	</div>
</section>


	{% include themes/rejalilaw/location.html %}



	<section id="social">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 text-center">
					<h2>SOCIAL</h2>
				</div>
			</div>
			<br>
			{% include themes/rejalilaw/social.html %}
		</div>
	</section>