<div id="footer">
	<div class="container">
		<div class="col-md-3 col-sm-12 col-xs-12 text-left">
			<p class="text-muted first">REJALI LAW FIRM</p>
		</div>
		<ul class="col-md-6 col-sm-12 col-xs-12 text-center">
			<a href="#"><li class="text-muted">PRIVACY POLICY | </li></a>
			<a href="#"><li class="text-muted"> SITEMAP | </li></a>
			<a href="#"><li class="text-muted"> CONTACT</li></a>
		</ul>
		<ul class="social col-md-3 col-sm-12 col-xs-12 text-right">
			<li><a href="http://twitter.com/rejalilawfirm" target="_blank"><i class="icon-twitter icn"></i></a></li>
			<li><a href="http://instagram.com/rejalilawfirm" target="_blank"><i class="icon-instagram icn"></i></a></li>
			<li><a href="http://www.linkedin.com/pub/omid-rejali-esq/27/187/877" target="_blank"><i class="icon-linkedin icn"></i></a></li>
			<li><a href="tel:+(619)798-8002" target="_blank"><i class="icon-skype icn"></i></a></li>
			<li><a href="mailto:info@rejali-lawfirm.com" target="_blank"><i class="icon-email icn"></i></a></li>
			<li><a href="http://rejalilawfirm.tumblr.com/" target="_blank"><i class="icon-tumblr icn"></i></a></li>
		</ul>
	</div>
</div>