<script type='text/javascript'>(function () { var done = false; var script = document.createElement('script'); script.async = true; script.type = 'text/javascript'; script.src = 'https://widget.purechat.com/VisitorWidget/WidgetScript'; document.getElementsByTagName('HEAD').item(0).appendChild(script); script.onreadystatechange = script.onload = function (e) { if (!done && (!this.readyState || this.readyState == 'loaded' || this.readyState == 'complete')) { var w = new PCWidget({ c: '27945b86-660a-4d97-b271-ca1482d59864', f: true }); done = true; } }; })();</script>

<div id="footer">
	<div class="container">
		<div class="col-md-3 col-sm-12 col-xs-12 text-left">
			<p class="text-muted first">REJALI LAW FIRM</p>
		</div>
		<ul class="col-md-6 col-sm-12 col-xs-12 text-center">
			<a href="privacypolicy.html"><li class="text-muted">PRIVACY POLICY | </li></a>
			<a href="sitemap.xml"><li class="text-muted"> SITEMAP | </li></a>
			<a href="contact.html"><li class="text-muted"> CONTACT</li></a>
		</ul>
		<ul class="social col-md-3 col-sm-12 col-xs-12 text-right">
			<li><a href="http://twitter.com/rejalilawfirm" target="_blank"><i class="icon-twitter icn"></i></a></li>
			<li><a href="http://instagram.com/rejalilawfirm" target="_blank"><i class="icon-instagram icn"></i></a></li>
			<li><a href="http://www.linkedin.com/pub/omid-rejali-esq/27/187/877" target="_blank"><i class="icon-linkedin icn"></i></a></li>
			<li><a href="tel:+(619)798-8002" target="_blank"><i class="icon-skype icn"></i></a></li>
			<li><a href="mailto:info@rejali-lawfirm.com" target="_blank"><i class="icon-email icn"></i></a></li>
			<li><a href="http://rejalilawfirm.tumblr.com/" target="_blank"><i class="icon-tumblr icn"></i></a></li>
		</ul>
		<br/>
	</div>
	<br>
</div>

