<!-- REVOLUTION SLIDER -->
<div class="hidden-xs">
	<div class="fullwidthbanner-container">
		<div class="fullwidthbanner">
			<ul>
				<li data-transition="slideright">
					<img src="{{relative}}/assets/img/slide1.png" alt="" />

					<!-- Caption -->
					<div class="caption sfb" data-x="center" data-y="450" data-speed="1100" data-start="1500" data-easing="easeOutExpo">
						<h1>WELCOME TO THE REJALI LAW FIRM</h1>               
					</div>
				</li>
				<!-- Slide 1 -->
				<li data-transition="slideright">
					<img src="{{relative}}/assets/img/index.jpg" alt="" />

					<!-- Caption -->
					<div class="caption sfb" data-x="center" data-y="350" data-speed="1100" data-start="1500" data-easing="easeOutExpo">
						<h1>PROTECTING RIGHTS, PRESERVING JUSTICE</h1>               
					</div>
				</li>

				<!-- Slide 2 -->
				<li data-transition="slideleft">
					<img src="{{relative}}/assets/img/international.jpg" alt="" />

					<!-- Caption -->
					<div class="caption sfb stb rev-left" data-x="center" data-y="250" data-speed="1100" data-start="1500" data-easing="easeOutExpo">
						<h1>INTERNATIONAL LAW</h1>                    
					</div>
				</li>
			</ul>
			<div class="tp-bannertimer tp-bottom"></div>
		</div>

	</div>
</div>
<!-- // END REVOLUTION SLIDER -->

<!-- MOBILE BANNER -->
<div class="visible-xs">
	<section id="home-hero">
		<div class="container">
			<div class="title">
				<h1>REJALI LAW FIRM</h1>
			</div>
		</div>
	</section>
</div>
<!-- END MOBILE BANNER -->