 <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{relative}}/assets/js/jquery.js"></script>      
    <script src="{{relative}}/assets/js/bootstrap.min.js"></script> 

    <script src="{{relative}}/assets/js/owl.carousel.js"></script>

        <!-- jQuery REVOLUTION Slider  -->
    <script type="text/javascript" src="{{relative}}assets/js/jquery.themepunch.plugins.min.js"></script>
    <script type="text/javascript" src="{{relative}}assets/js/jquery.themepunch.revolution.min.js"></script>
    
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>

    <script type="text/javascript">
      $(function() {
  $('a[href*=#]:not([href=#])').click(function() {
    if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
      var target = $(this.hash);
      target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
      if (target.length) {
        $('html,body').animate({
          scrollTop: target.offset().top
        }, 1000);
        return false;
      }
    }
  });
});
      </script>

    <script type="text/javascript">
  //<![CDATA[
    var revapi;
      jQuery(document).ready(function() {
        revapi = jQuery('.fullwidthbanner').revolution(
        {
          delay:9000,
          startwidth:1170,
          startheight:600,
          fullWidth:"on",
          onHoverStop:"on" ,
          touchenabled:"on"
        });
      }); 
    //]]>
  </script>

  <script>
  $(document).ready(function() {
 
  $("#owl-example").owlCarousel({
 
    // Most important owl features
    items : 4,
    itemsCustom : false,
    itemsDesktop : [1199,4],
    itemsDesktopSmall : [980,3],
    itemsTablet: [768,2],
    itemsTabletSmall: false,
    itemsMobile : [479,1],
    singleItem : false,
    itemsScaleUp : false,
    autoPlay: true,
    slideSpeed: 2,
});
 
});
  </script>

<script>
$.asm = {};
$.asm.panels = 1;

function sidebar(panels) {
    $.asm.panels = panels;
    if (panels === 1) {
      // $('#content').removeClass('span9');
      // $('#content').addClass('span12 no-sidebar');
      $('#sidebar').animate({
            left: -180,
      });
    } else if (panels === 2) {
      // $('#content').removeClass('span12 no-sidebar');
      // $('#content').addClass('span9');
        $('#sidebar').animate({
            left: 20,
        });
    $('#mapCanvas').width($('#mapCanvas').parent().width());
    $('#mapCanvas').height($(window).height() - 50);
    $('#sidebar').height($(window).height() - 50);
    return google.maps.event.trigger($.asm.theMap, 'resize');
    }
};

$('#toggleSidebar').click(function() {
  if ($.asm.panels === 1) {
    $('#toggleSidebar i').addClass('fa-angle-left');
    $('#toggleSidebar i').removeClass('fa-language');
    return sidebar(2);
  } else {
    $('#toggleSidebar i').removeClass('fa-angle-left');
    $('#toggleSidebar i').addClass('fa-language');
    return sidebar(1);
  }
});

$(function() {
    $.asm.theMap = new google.maps.Map(document.getElementById('mapCanvas'));
});
</script>

<script type="text/javascript">
                var limit = 5;
                var url = 'http://funkability.tumblr.com';
               
                $.getJSON(url+'/api/read/json?num='+limit+'&callback=?', function(data) {
                        $.each(data.posts, function(i,posts){
                                if(posts.type == 'video'){
                                        displayVideoPost(posts);
                                } else if(posts.type == 'link'){
                                        displayLinkPost(posts);
                                } else if(posts.type == 'regular'){
                                        displayTextPost(posts);
                                }
                        });
                });
               
                function displayTextPost(posts){
                        if(posts == null) return;
                        $('#tumblrfeed').append('<div class="posts"><h1>'+posts['regular-title']+"</h1>");
                        $('#tumblrfeed').append(posts['regular-body']+'</div>');
                }
               
                function displayLinkPost(posts){
                        if(posts == null) return;
                        $('#tumblrfeed').append('<div class="posts"><h1>'+posts['link-text']+"</h1>");
                        $('#tumblrfeed').append(posts['link-url']);
                        $('#tumblrfeed').append(posts['link-description']+'</div>');
                }
               
                function displayVideoPost(posts){
                        if(posts == null) return;
                        $('#tumblrfeed').append('<div class="posts"><h1>'+posts['video-caption']+"</h1>");
                        $('#tumblrfeed').append(posts['video-player-250']+'</div>');
                }
               
        </script>
        
  </body>
</html>