<div class="row services-3 text-center">
				<div class="col-sm-1 col-xs-6 col-sm-offset-1">
					<div class="icon"><a href="http://www.facebook.com/rejalilawfirm" target="_blank"><i class="icon-facebook icn"></i></a></div>
				</div>
				<div class="col-sm-1 col-xs-6 col">
					<div class="icon"><a href="http://twitter.com/rejalilawfirm" target="_blank"><i class="icon-twitter icn"></i></a></div>
				</div>
				<div class="col-sm-1 col-xs-6 col">
					<div class="icon"><a href="http://plus.google.com/101328838385974631320/posts" target="_blank"><i class="icon-googleplus icn"></i></a></div>
				</div>
				<div class="col-sm-1 col-xs-6 col">
					<div class="icon"><a href="http://www.yelp.com/biz/rejali-law-firm-san-diego" target="_blank"><i class="icon-yelp icn"></i></a></div>
				</div>
				<div class="col-sm-1 col-xs-6 col">
					<div class="icon"><a href="http://instagram.com/rejalilawfirm" target="_blank"><i class="icon-instagram icn"></i></a></div>
				</div>
				<div class="col-sm-1 col-xs-6 col">
					<div class="icon"><a href="http://www.linkedin.com/pub/omid-rejali-esq/27/187/877" target="_blank"><i class="icon-linkedin icn"></i></a></div>
				</div>
				<div class="col-sm-1 col-xs-6 col">
					<div class="icon"><a href="tel:+(619)798-8002"><i class="icon-skype icn"></i></a></div>
				</div>
				<div class="col-sm-1 col-xs-6 col">
					<div class="icon"><a href="mailto:info@rejalilawfirm.com"><i class="icon-email icn"></i></a></div>
				</div>
				<div class="col-sm-1 col-xs-6 col">
					<div class="icon"><a href="http://rejalilawfirm.tumblr.com/" target="_blank"><i class="icon-tumblr icn"></i></a></div>
				</div>
			</div>