<section id="location">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 text-center">
                <h2>Our LOCATION</h2>
                <p>Come see us!</p>
                <br>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <h3>CONTACT</h3>
                <hr>
                <ul>
                    <li><h4>Phone: TOLL FREE 844.4REJALI</h4></li>
                    <li><h4>Local: (619)-887-4148</h4></li>
                    <!-- <li><h4>Weekend & Evening Phone: (619)887-4148</h4></li> -->
                    <li><h4>Fax Number: (619)-274-8222</h4></li>
                    <li><h4><a href="mailto:info@rejalilawfirm.com">Email: info@rejalilawfirm.com</a></h4></li>
                </ul>
                <br>
                <h3>ADDRESS</h3>
                <hr>
                <h4>8880 Rio San Diego Dr, Suite 800, San Diego, CA, 92108</h4>
            </div>
            <div class="col-sm-6">
                <a href="https://www.google.com/maps/preview?q=8880+Rio+San+Diego+Dr,+Suite+800,+San+Diego,+CA,+92108&amp;ie=UTF-8&amp;hq=&amp;hnear=0x80d95511fb073755:0x5495e05c59fafddd,8880+Rio+San+Diego+Dr+%23800,+San+Diego,+CA+92108&amp;gl=us&amp;ei=ixudU4WZBYyoyASsw4GoBw&amp;;ved=0CB4Q8gEwAA" target="_blank"><img class="img-thumbnail" src="{{ relative}}/assets/themes/rejalilaw/img/indexmap.png" alt="office-map-home"></a>
            </div>
        </div>
    </div>
</section>