<div class="hidden-xs">
<!-- REVOLUTION SLIDER -->
        <div class="tp-banner-container">
		<div class="tp-banner">
		<ul>
		<!-- Slide 1 -->
			<li data-transition="slideright">
				<img src="http://imageshack.com/a/img540/3079/M5B6Ja.png" alt="" />

				<!-- Caption -->	
				<div class="caption sft stl" data-x="center" data-y="450" data-speed="1000" data-start="700" data-easing="easeOutExpo">
					<h1 class="rev-title bold">Welcome to Rejali Law Firm</h1>
				</div>
				
			</li>

			<li data-transition="fadefromright">
				<img src="http://imageshack.com/a/img661/4603/d4jiMH.jpg" data-bgrepeat="no-repeat" data-bgposition="center top" alt="" />


				<div class="caption sft stl" data-x="left" data-y="50" data-speed="1000" data-start="700" data-easing="easeOutExpo">
					<h3 class="rev-title bold">PROTECTING RIGHTS</h3>
				</div>
				
				
				<div class="caption lfl stl rev-title-sub" data-x="right" data-y="460" data-speed="800" data-start="1100" data-easing="easeOutExpo">
					<h3 class="rev-title bold">PRESERVING JUSTICE</h3>
				</div>
				
			</li>

				<li data-transition="fadefromleft">
				<img src="http://imageshack.com/a/img537/888/16WXL8.jpg" data-bgrepeat="no-repeat" data-bgposition="center top" alt="" />


				<div class="caption sft stl" data-x="left" data-y="100" data-speed="2200" data-start="700" data-easing="easeOutExpo">
					<h3 class="rev-title bold">CRIMINAL LAW</h3>
				</div>
				
				
				<div class="caption lfl stl rev-title-sub" data-x="right" data-y="200" data-speed="2200" data-start="1300" data-easing="easeOutExpo">
					<h3 class="rev-title bold">IMMIGRATION</h3>
				</div>

				<div class="caption lfl stl rev-title-sub" data-x="left" data-y="300" data-speed="2400" data-start="1800" data-easing="easeOutExpo">
					<h3 class="rev-title bold">PERSONAL INJURY</h3>
				</div>

				<div class="caption lfl stl rev-title-sub" data-x="right" data-y="400" data-speed="2500" data-start="2300" data-easing="easeOutExpo">
					<h3 class="rev-title bold">INTERNATIONAL LAW</h3>
				</div>
				
			</li>


			<li data-transition="slideleft" data-slotamount="7" data-masterspeed="600">
				<!-- MAIN IMAGE -->
				<img src="http://imageshack.com/a/img912/4387/qAk42k.jpg" alt="" data-bgfit="cover" data-bgposition="right center" data-bgrepeat="no-repeat">
				<!-- A -->
				<div class="tp-caption sft customout"
				data-x="center" data-hoffset="0"
				data-y="445"
				data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
				data-speed="1000"
				data-start="1500"
				data-easing="Back.easeOut"
				data-endspeed="500"
				style="z-index: 7">
				<img src="http://imageshack.com/a/img674/7926/MmbCop.png" alt="">
			</div>
			<!-- B -->
			<div class="tp-caption customin customout"
				data-x="center" data-hoffset="0"
				data-y="top" data-voffset="100"
				data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:5;scaleY:5;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
				data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
				data-speed="600"
				data-start="1000"
				data-easing="Power4.easeOut"
				data-endspeed="500"
				data-endeasing="Power4.easeOut"
				data-autoplay="true"
				data-autoplayonlyfirsttime="true"
				data-nextslideatend="true"
				style="z-index: 8">
			<iframe src="//www.youtube.com/embed/oYz3JPo9ch0" width='640' height='360' frameborder="0" allowfullscreen></iframe>
		</div>
	</li>



			<!-- <li data-transition="slideright">
				<img src="{{relative}}/assets/themes/rejalilaw/img/slider/slider3.jpg" alt="" />
				
				
				<div class="tp-caption lfr" data-x="left" data-y="220" data-speed="2400" data-start="800" data-easing="easeOutExpo">
					<img src="{{relative}}/assets/themes/rejalilaw/img/slider/robot1.png" alt="" />
				</div>
					
				
				<div class="tp-caption lfb" data-x="870" data-y="150" data-speed="1400" data-start="1800" data-easing="easeOutExpo">
					<img src="{{relative}}/assets/themes/rejalilaw/img/slider/rocket.png" alt="" />
				</div>
				
				
				<div class="tp-caption lfb" data-x="825" data-y="340" data-speed="1500" data-start="1900" data-easing="easeOutExpo">
					<img src="{{relative}}/assets/themes/rejalilaw/img/slider/flames.png" alt="" />
				</div>
				
					
				<div class="caption sft stl" data-x="center" data-y="150" data-speed="1000" data-start="700" data-easing="easeOutExpo">
					<h3 class="rev-title bold">FLATI BOOTSTRAP</h3>
				</div>
				
				
				<div class="caption lfl stl rev-title-sub" data-x="center" data-y="260" data-speed="800" data-start="1100" data-easing="easeOutExpo">
					CREATE - DESIGN - CODE
				</div>
				
				
				<div class="caption sfb" data-x="center" data-y="350" data-speed="1100" data-start="1500" data-easing="easeOutExpo">
					<a href="#" class="btn btn-outline btn-mobile">OUR PORTFOLIO</a>                 
				</div>
			</li> -->

		
			</ul>
			<div class="tp-bannertimer tp-bottom"></div>
            </div>
        </div>
</div>

<!-- MOBILE BANNER -->
<div class="visible-xs">
	<section id="home-hero">
		<div class="container">
			<div class="title">
				<h1>REJALI LAW FIRM</h1>
			</div>
		</div>
	</section>
</div>
<!-- END MOBILE BANNER -->